html, body {
	overflow-x:hidden;
}
body {
	font-family: "Asap", Helvetica, Arial, sans-serif;
	color: #333333;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Crete Round", Courier, Times, serif;
}
h2 {
	font-size: 28px;
	font-weight: normal;
	margin-bottom: 5px;
}
p {
	font-size: 16px;
	line-height: 19px;
	font-weight: 100;
}

/* GRID */
.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}
.container:before,
.container:after {
	content: " ";
	display: table;
}
.container:after {
	clear:both;
}
.one-half, .one-third, .one-fourth {
	width: 96%;
	float: left;
	position: relative;
	min-height: 1px;
	margin: 0 2% 20px;
}

/* @media */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
	.one-half {
		width: 46%;
	}
	.one-third {
		width: 29.33333%;
	}
	.one-fourth {
		width: 21%;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
@media (min-width: 1920px) {
	.container {
		width: 90%;
	}
}

/* HEADER */
header {
	color: #000000;
	font-weight: bold;
	}
header nav {
	padding: lem 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#196779+0,448d9c+100 */
	background: #196779; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #196779 0%, #448d9c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  #196779 0%,#448d9c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  #196779 0%,#448d9c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#196779', endColorstr='#448d9c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
header nav ul {
	display: inline;
	text-align: right;
	float: right;
	/*margin: 0;*/
	margin: 25px 0 0 0;
}
header nav ul > li {
	list-style-type: none;
	display: inline-block;
	margin: 0 15px;
}
header nav ul > li.btn-outline {
	padding: 10px 15px;
	background: #D17322;
	border: 2px solid #D17322;
	border-radius: 4px; 
	box-shadow: 0px 2px 0px 0px #79400D;
}

header nav ul > li.btn-outline:hover {
	background: #79400D;
	border: 2px solid #79400D;
}
header nav ul > li > a {
	color: #FFFFFF;
	text-decoration: none;
}
/*header nav ul > li.btn-outline:hover > a {
	color: #34495E;
}*/
header nav a > img {
	margin: 25px 0 0 0;
}
header .hero {
	text-align: left;
	display: block;
	position: relative;
	background: url('../images/dashboard.png') top right no-repeat;
	min-height: 670px;
	background-position-y: 40px; 
}
header .hero h1 {
	font-size: 52px;
	font-weight: normal;
	margin: 95px 0 0;
}
header .hero p {
	font-size: 22px;
	line-height: 26px;
	font-weight: 100;
	margin: 10px 0 40px;
}
/*header .hero img {
	display: block;
	line-height: 24px;
	font-weight: 100;
	margin: 8px 0 45px;
}*/
header .hero img {
	display: inline-block;
	float: right;
	margin: 3em -5% 0 0;
}

/* BUTTONS */
.btn {
	border-radius: 4px;
	color: #FFFFFF;
	font-weight: 700;
	text-decoration: none;
	padding: 10px 30px;
	background: #2ECC71;
	border: 2px solid #2ECC71;
	box-shadow: 0px 2px 0px 0px #22894E;
}