html, body {
	overflow-x:hidden;
}
body {
	font-family: "Asap", Helvetica, Arial, sans-serif;
	color: #333333;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Crete Round", Courier, Times, serif;
}
h2 {
	font-size: 34px;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 5px;
	padding-top: 80px;
}
p {
	font-size: 16px;
	line-height: 19px;
	font-weight: 100;
}

/* GRID */
.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 25px;
	padding-right: 25px;
	position: relative;
}
.container:before,
.container:after {
	content: " ";
	display: table;
}
.container:after {
	clear:both;
}
.one-half, .one-third, .one-fourth {
	width: 96%;
	float: left;
	position: relative;
	min-height: 1px;
	margin: 0 2% 20px;
}

/* HEADER */
header {
	color: #000000;
	font-weight: regular;
	}
header .site-logo {
	position: relative;
	top:-5px;
}
header .one-third > .logo {
	width: 20%;
}
header nav {
	padding: lem 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#196779+0,448d9c+100 */
	background: #196779; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #196779 0%, #448d9c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  #196779 0%,#448d9c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  #196779 0%,#448d9c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#196779', endColorstr='#448d9c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
header nav .container > .one-third {
	float: right;
}
header nav .container > .menu, header nav .container > .logo {
	float: left;
}
header nav ul {
	display: inline;
	text-align: left;
	float: right;
	margin: 10px auto 0;
	padding-top: 30px;
	padding-left: 0px
}
header nav .menu ul {
	float: left;
}
header nav ul > li {
	list-style-type: none;
	display: inline;
	margin: 0 20px 0 0;
}
header nav ul > li.btn-outline {
	padding: 10px 15px;
	background: #D17322;
	border: 2px solid #D17322;
	border-radius: 4px; 
	box-shadow: 0px 2px 0px 0px #79400D;
	width: 126px;
    margin: auto auto auto 25px;
    padding: 10px 30px;
}

header nav ul > li.btn-outline:hover {
	background: #79400D;
	border: 2px solid #79400D;
}
header nav ul > li > a {
	color: #FFFFFF;
	text-decoration: none;
}
header nav ul > li.btn-outline:hover > a {
	color: #34495E;
}
header .sign-in-up {
	font-weight: bold;
}
header nav a > img {
	margin: 25px 0 0 0;
}
header .hero {
	text-align: center;
	display: block;
	position: relative;
	background-size: auto;
	min-height: auto;
	background-position-y: 0px; 
}
header .hero h1 {
	font-size: 34px;
	font-weight: normal;
	margin: 40px 0 0;
}
header .hero p {
	font-size: 14px;
	line-height: 26px;
	font-weight: 100;
	margin: 10px 0 40px;
}
header .hero img {
   display: block;
   margin:3em auto 0;
   height: 150px;
   position: center;
}

/* BUTTONS */
.btn {
	border-radius: 4px;
	color: #FFFFFF;
	font-weight: 700;
	text-decoration: none;
	padding: 10px 30px;
	background: #D17322;
	border: 2px solid #D17322;
	box-shadow: 0px 2px 0px 0px #79400D;
	width: 255px;
    margin: auto;
    padding: 10px 48px;
}

/* BENEFITS */
.benefits {
	text-align: center;
	display: block;
	position: relative;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#196779+0,448d9c+100 */
	background: #196779; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #196779 0%, #448d9c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  #196779 0%,#448d9c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  #196779 0%,#448d9c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#196779', endColorstr='#448d9c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.benefits .container {
	text-decoration: underline;
	color: #FFFFFF;
}
.benefits ul {
	margin: 0 auto;
	padding: 2em 0;
}
.benefits ul li {
	list-style-type: none;
	display: inline-block;
}

.square {
  position: absolute;
  width: 100%; 
  height: 100%; 
  display: table; 
}
.square .group {
  display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
  padding-top: 24px;
}
.notes {
	background: url(images/benefits-notes.jpg);
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
	margin: 0px;
}
.notes img {
	width: 100%;
	height: auto;
	-webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
}
.notes > .notes-description {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom:3px;
	right:0px;
	background: inherit;
	background-attachment: fixed;
	overflow: hidden;
}

.notes > .notes-description:before {
	content: "";
	position: absolute;
	bottom: -20px;
	left: 0;
	width: 200%;
	height: 200%;
	background: inherit;
	background-attachment: fixed;
}
.notes > .notes-description:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, 0.50)0
}
.notes .notes-description i {
	margin: 0;
	color: #FFFFFF;
	font-size: 60px;
	position: relative;
	z-index: 1;
	padding-bottom: 24px;
}
.notes .notes-description h3 {
	margin: 0;
	color: #FFFFFF;
	font-size: 28px;
	position: relative;
	z-index: 1;
}
.notes .notes-description p {
	margin: 0;
	color: #FFFFFF;
	font-size: 14px;
	position: relative;
	z-index: 1;
	padding-top: 16px;
    margin-left: 25px;
    margin-right: 25px;
}
.notes-description {
	opacity: 0;
	transition: opacity 0.3s linear;
}
.notes:hover .notes-description {
	opacity: 1;
}

/* PRICING */
.pricing {
   text-align: center;
   margin-bottom: 60px;
}
.pricing h2 {
   color: #333333;
}
.pricing p {
   color: #333333;
   font-size: 14px;
   margin-top: 30px;
}
.pricing ul {
   margin:0 auto;
   padding: 2em 0 0 0;
}
.pricing ul li {
   list-style-type: none;
}
.pricing .container .one-third .box ul {
	padding: 1em 0 0 0;
}
.box {
   padding:0 15px 15px;
   background: #FFFFFF;
   box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
   min-height: 401px;
   position: relative;
   margin: 25px;
}
.box.middle {
   min-height: 410px;
   margin:0;
}
.box h3 {
   font-family: "Asap", Helvetica, Arial, sans-serif;
   font-weight: 700;
   color: #FFFFFF;
   text-transform: uppercase;
   background: #448D9C;
   box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.40);
   left:0;
   right:0;
   top:0;
   text-align: center;
   margin:0 -15px 30px;
   padding: 20px 0;
}
.box.middle h3 {
	background: #196779;
}
.box h4 {
   font-size:60px;
   font-weight: normal;
   margin:30px 0 10px;
   color:#333333;
}
.box h4 span {
   font-size:32px;
   vertical-align: top;
}
.box h4 span.month {
   font-family: "Asap", Helvetica, Arial, sans-serif;
   font-weight: 100;
   color:#333333;
   font-size:36px;
   vertical-align: middle;
}
.box ul li {
   font-size:18px;
   margin-bottom:20px;
   font-weight: 100;
}
.box .btn {
   position:absolute;
   bottom:20px;
   left:20px;
   right:20px;
   padding: 10px 0;
}
.small {
   font-size: 12px;
   color: #333333;
   line-height: 15px;
   font-style:italic;
}

/* FOOTER */
footer {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#196779+0,448d9c+100 */
	background: #196779; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #196779 0%, #448d9c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  #196779 0%,#448d9c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  #196779 0%,#448d9c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#196779', endColorstr='#448d9c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	color: #FFFFFF;
	height: auto;
	position: relative;
	overflow: hidden;
	z-index: 0;
}
footer .left-footer-block {
	margin-top: 30px;
	width: 90%;
	display: block;
}footer .middle-footer-block {
	margin: 0px;
	width: 97%;
	display: block;
}footer .right-footer-block {
	width: 90%;
	display: block;
}
footer img {
	width: 166px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
footer p, footer nav ul {
   font-size:16px;
   font-weight:100;
   text-align: center;
   padding: 0;
}
footer nav ul li {
   list-style-type: none;
   display: inline;
   padding: 0;
}
footer nav ul li a {
   color:#FFFFFF;
   text-decoration: none;
}
footer .logo-tagline {
	color: #FFFFFF;
	font-size: 13px;
	margin: 0;
	padding: 0;
	text-align: center;
}
footer div div p {
	font-size: 11.66px;
	vertical-align: bottom;
}
footer .copyright-block {
	margin: 0;
    width: auto;
    text-align: center;
}

 /* DASHBOARD */
 .dashboard {
   background:#F7F7F7;
 }
 .dashboard .left-nav {
   height: 100vh;
   width:14.66666667%;
   color:#FFFFFF;
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#196779+0,448d9c+100 */
   background: #196779; /* Old browsers */
   background: -moz-linear-gradient(45deg,  #196779 0%, #448d9c 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(45deg,  #196779 0%,#448d9c 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(45deg,  #196779 0%,#448d9c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#196779', endColorstr='#448d9c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
   float:left;
   position: fixed;
   display:block;
 }
 .dashboard .left-nav .site-logo {
   padding:16.5px 0;
   background:#196779;
   display:block;
   text-align: center;
 }
 .dashboard .left-nav .items {
   padding:0 6%;
 }
 .dashboard .left-nav .items p {
   font-weight: 600;
   text-transform: uppercase;
   font-size: 12px;
   color: #E2E2E2;
   line-height: 15px;
 }
 .dashboard .left-nav .items ul {
   margin:0 0 40px;
   padding:0;
 }
 .dashboard .left-nav .items ul li {
   list-style-type: none;
   margin-bottom: 15px;
 }
 .dashboard .left-nav .items ul li a {
   color:#FFFFFF;
   text-decoration: none;
   font-weight: 100;
 }
 .dashboard .left-nav .items ul li a i {
   width:16px;
   text-align: center;
   margin-right:8px;
 }
 .dashboard header {
 	background: #448D9C;
 	color: #FFFFFF;
 	height: 80px;
 	width:85.33333333%;
 	float:right;
 	right: 0;
 	position: fixed;
 	display: block;
 	overflow: hidden;
 }
 .dashboard > header .container {
 	padding: 0px;
 	margin: 0 auto 0 0;
 }
 .dashboard header .left-block {
 	width: 200px;
 	position: fixed;
 	margin-right: 30px;
 }
 .dashboard header .right-block .settings {
 	padding: 13px 0;
 	margin: 0 auto;
 	display: block;
   position: absolute;
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#196779+0,448d9c+100 */
   background: #196779; /* Old browsers */
   background: -moz-linear-gradient(45deg,  #196779 0%, #448d9c 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(45deg,  #196779 0%,#448d9c 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(45deg,  #196779 0%,#448d9c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#196779', endColorstr='#448d9c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
   width:260px;
   right: 0px;
   clear: both;
 }
 .dashboard header .middle-block {
 	width: 120px;
 	float: right;
 	margin-right: 290px;
 	margin-top: 30px;
 }
 .dashboard header .btn {
	background: #D17322;
    border: 2px solid #D17322;
    border-radius: 4px;
    box-shadow: 0px 2px 0px 0px #79400D;
    width: 111px;
    padding: 13.5px 35px;
    text-align: center;
 }
 .dashboard header .left-block .header {
   margin:20px 1% 30px 30px;
 }
  .dashboard header .right-block .header {
   margin:0;
 }
 .dashboard header .header h1 {
   font-family: "Asap", Helvetica, Arial, sans-serif;
   font-weight: 400;
   font-size: 36px;
   text-align: left;
   display:inline-block;
   margin: 0;
 }
 .dashboard header .settings img {
   height:55px;
   width:55px;
   border-radius: 50%;
   margin-left:12px;
   display: inline;
 }
 .dashboard header .settings p {
   display: inline-block;
   vertical-align: top;
   color: #FFFFFF;
   padding-top: 18px;
   font-weight: 400;
   margin:0 0 0 10px;
   font-size: 14px;
 }
 .dashboard header .settings a {
   color:#FFFFFF;
   text-decoration: none;
   text-align: right;
   float: right;
   margin-right: 10px;
   margin-top: 18px;
 }

 /* CONTENT */
 .content {
 	margin-top: 80px;
   float:right;
   width:98%;
   position: relative;
 }
 .content .container {
 	margin: 0px;
    padding: 30px 0 0 16px;
 }
.content-item {
   width:96%;
   margin:0 2% 25px;
   float:left;
   display:block;
 }
 .item-box {
   display:block;
   height:230px;
   background: #FFFFFF;
   box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.40);
   position: relative;
   overflow: hidden;
   padding:20px;
 }
 .item-box > img {
   position:absolute;
   height:100%;
   width:auto;
   top:0;
   left:0;
   right:0;
 }
 .item-box h2 {
 	color: #D77F25;
   font-family: 'Lato', Helvetica, Arial, sans-serif;
   font-weight: 700;
   font-size: 14px;
   line-height: 16px;
   margin:0;
   padding: 0;
 }
 .item-box h2 a {
   color: #D77F25;
   text-decoration: none;
 }
 .item-box h2 img {
   width:17px;
   height:17px;
   position:relative;
   top:2px;
   margin-right:5px;
 }
 .item-box p {
   font-size: 12px;
   color: #333333;
   line-height: 15px;
   margin:5px 0 0;
 }
 .item-box ul {
 	list-style-type: none;
   font-size: 12px;
   color: #333333;
   line-height: 15px;
   margin:5px 0 0;
   padding: 0;
 }

/* @media */

/* LARGER MOBILE DEVICES */
 @media (min-width:460px) {
   .content {
    float:right;
    width: 90%;
    position: relative;
   }
   .content-item {
     width:46%;
     margin:0 2% 25px;
     float:left;
     display:block;
   }
 }

/* TABLETS */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
	h2 {
		font-size: 48px;
	}
	header .hero h1 {
		font-size: 52px;
	}
	header .hero p {
		font-size: 22px;
	}
	header .hero img {
	   display: block;
	   margin:3em auto 0;
	   height: 300px;
	   position: center;
	}
	.benefits {
		height: 649px;
	}
	.benefits .one-third {
		margin: 0;
		width: 33.3333%
	}
	.box {
	   margin: 25px 0 0;
	}
	.box.middle {
	   min-height: 456px;
	   margin-top:0px;
	}
	footer {
		height: 125px;
	}
	footer .left-footer-block {
		margin-top: 30px;
		width: 18%;
		display: inline-block;
	}
	footer .middle-footer-block {
		margin-top: 30px;
		width: 52%;
		display: inline-block;
	}
	footer .right-footer-block {
		width: 18%;
		display: inline-block;
	}
	footer img {
		width: 166px;
		display: block;
		margin-left: 0;
		margin-right: auto;
	}
	footer .logo-tagline {
		text-align: left;
	}
	footer .copyright-block {
		padding-top: 78px;
		margin: 0;
	    width: auto;
	    text-align: right;
	}
	.dashboard > header .container {
		width: 100%
	}
	.dashboard > .one-third {
    width: 28.44433333%;
    float: left;
    position: relative;
    min-height: 1px;
    margin: 0 2% 20px;
	}
    .content {
 	margin-top: 80px;
   float:right;
   width:85.333333%;
   position: relative;
	}
   .content > .container {
     width:700px;
   }
   .content-item {
     width:31.33333%;
     margin:0 1% 25px;
 	}
	.content .container {
	 	margin: 0px;
	    padding: 30px 0 0 16px;
 	}
}

/* LAPTOPS AND DESKTOPS */
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
	.one-half {
		width: 46%;
	}
	.one-third {
		width: 29.3333333%;
	}
	.one-fourth {
		width: 21%;
	}
	.logo {
		width: 20%;
	}
	.menu {
		width: 38%;
	}
	.content {
	float:right;
	width: 83.333333%
     position: relative;
   }
   .content > .container {
     width:auto;
   }
   .content-item {
     width:23%;
     margin:0 1% 25px;
   }
}

/* EXTRA LARGE SCREENS */
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
	header .hero {
		text-align: left;
		display: block;
		position: relative;
		background: url('../images/dashboard.png') top right no-repeat;
		min-height: 670px;
		background-position-y: 80px; 
	}
	header .hero h1 {
		font-weight: normal;
		margin: 270px 0 0;
	}
	header .hero p {
		line-height: 26px;
		font-weight: 100;
		margin: 10px 0 40px;
	}
	header .hero img {
	   display: none;
	}
}
@media (min-width: 1920px) {
	.container {
		width: 90%;
	}
}